extends ../layout

block content
  h1 Checked-In
  h2 Remove Contact
  p Hello, #{User}
  a(href='/home') Home
  ul
    li
      each person in contact.contact
        p Are you sure you want to delete this contact?
        p #{person.name}, #{person.phone}, #{person.email} 
        form(action="?_method=delete", method="post")
          input(type="hidden", name="name" value="#{person.name}")
          input(type="hidden", name="phone" value="#{person.phone}")
          input(type="hidden", name="email" value="#{person.email}")
          input(type="submit" value="Delete")
